.participate {
    margin-top: 3rem !important;
    border: 0;
    border-radius: 15px;
    padding: 45px;
    background-image: url(https://hanoipetadoption.com/Images/adopt-calltoaction.png);
    background-position: top right;
    background-repeat: no-repeat;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

    .content {
        width: 65%;
        .content-title {
            text-align: center !important;
            color: #222;
            font-size: 1.75rem;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .content-discription {
            text-align: justify!important;
            color: #6b7284;
            font-size: 1rem;
            line-height: 1.6;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 1rem;
        }
        .text-center{
            margin-top: 40px;
            .content-button {
                text-decoration: none;
                transition: all .2s ease-in-out;
                color: #fff!important;
                border: 0;
                font-size: 1rem;
                padding: 10px 50px;
                outline: none;
                letter-spacing: .2px;
                font-family: 'Montserrat',sans-serif;
                border-radius: 25px;
                text-transform: uppercase;
                margin-top: 15px;
                white-space: normal;
                font-weight: bold;
                background: #018ae0;
            }
            .content-button:hover {
                background: #fc0;
            }
        }
    }
}
