.option {
    background: #f4f4f4;
    width: 100%;
    padding: 50px 0px;
    .container {
        max-width: 1120px;
        width: 100%;
        margin: auto;
        hr{
            width: 100%;
            color: #ddd;
        }
        .option-title {
            text-align: center;
            font-size: 2.125rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            i {
                font-family: "Fontawesome";
                color: #018ae0;
                content: "";
                z-index: 0;
                font-size: 20px;
                z-index: 0;
                transform: rotate(20deg);
                opacity: 0.5;
                display: block;
            }
        }

        .option-item {
            display: flex;
            grid-gap: 50px;
            margin-top: 50px;
            .option-content {
                width: 70%;
                .option-title {
                    text-align: left;
                    color: #222;
                    font-size: 1.75rem;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                .option-description {
                    color: #6f6f6f;
                    font-size: 1rem;
                    line-height: 1.6;
                    font-weight: 500;
                    margin-top: 0;
                    margin-bottom: 1rem;
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }
                .option-condition {
                    background-color: #ddd;
                    margin-top: 0;
                    padding: 10px 20px 30px 20px;
                    font-size: 1rem;
                    border-radius: 20px;
                    height: fit-content;
                    .condition-item {
                        display: grid;
                        grid-template-columns: 0.08fr 0.8fr;
                        margin-top: 15px;
                        i {
                            font-family: "Fontawesome";
                            color: #018ae0;
                            content: "";
                            z-index: 0;
                            font-size: 17px;
                            margin-top: 4px;
                        }
                        .item-text {
                            color: #6b7284;
                            font-weight: 700 !important;
                            font-size: 17px;
                            line-height: 26px;
                        }
                    }
                }
            }
            .item-image {
                width: 30%;
                background-image: url(https://hanoipetadoption.com/Images/patterns/pattern1.png);
                background-position: center bottom;
                background-repeat: repeat-x;
                display: flex !important;
                align-items: center !important;
                flex-wrap: wrap !important;
                .image {
                    max-width: 320px;
                    width: 100%;
                    height: 325px;
                    object-fit: cover;
                }
            }
        }
    }
}
