.contact-content {
    background: #fff;
    width: 100%;
    padding: 50px 0px;
    border-bottom: 1px solid #e6e8ec;
    .container {
        max-width: 1120px;
        width: 100%;
        margin: auto;
        padding: 0px;
        display: grid;
        column-gap: 30px;
        grid-template-columns: 0.6fr 0.4fr;
    }
}