.feedback {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    .feedback-title {
        color: #222222;
        font-size: 2.125rem;
        font-weight: 600;
        line-height: 1.1;
        text-transform: capitalize !important;
        margin-bottom: 20px;
    }
    .feedback-form {
        .form {
            .group {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .form-input {
                    border: 2px solid #d61c62;
                    border-radius: 4px;
                    width: 100%;
                    outline-color: #018ae0;
                }

                .send-button {
                    width: auto;
                    display: block;
                    margin: auto;
                    transition: all 0.2s ease-in-out;
                    color: #fff !important;
                    border: 0;
                    font-size: 1rem;
                    padding: 10px 50px;
                    outline: none;
                    letter-spacing: 0.2px;
                    font-family: "Montserrat", sans-serif;
                    border-radius: 25px;
                    text-transform: uppercase;
                    margin-top: 15px;
                    white-space: normal;
                    font-weight: bold;
                    background: #018ae0;
                    &:hover {
                        background: #fc0;
                    }
                }
            }
        }
        #contact-result {
                display: none;
                border-radius: 5px;
                width: 100%;
                padding: 30px 20px;
                background: #d61c62;
                color: #721c24;
                background-color: #f8d7da;
                border-color: #f5c6cb;
        }
    }
}
