.about-infor-title {
    font-size: 2.125rem;
    color: #222;
    font-weight: 600;
    line-height: 1.1;
}
.about-space {
    margin-top: 5px;
    content: " ";
    display: block;
    width: 120px;
    margin: 10px 0px;
    border: 1px solid #cecece;
}
.about-infor-descript {
    color: #6b7284;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}